language: node_js
node_js: '10'

before_install:
- npm install -g npm@latest

install:
  - npm ci
  - npm install -g resume-cli@1.2.8
  - npm install --no-save @percy/script

cache:
  directories:
    - "$HOME/.npm"

script:
- npm run build:styles
- resume serve --resume=example-resume.json --port 5001 --silent &
- sleep 2s
- npx percy exec -- node tests/percy.js

deploy:
  provider: npm
  email: npm@xuluwarrior.org
  api_key:
    secure: OzyghJu2AdxhQJ1eNaa1iasDfmSVlTTUKrmGRtGybYMgwEGysiIlJ4jPvdPGBfbLdtiXoRwKTc4mwqJWMwn17CHhkfSZrNby/PeBl0RcK6HXqKWh4paCdX6hskSLedXkJSWq991zFojZzM+EjKHL981CzwefrZYg5sIWnSyaRZduusEsHfYp2EnCrwLW8jvLV13T2ImCg60NyB2vtomZ0P8wPrGjPhEqIvJLyQ1t2lYJka3ckRTz0aMixxC3G6jYkcNuvmVYxxqHMspcVOxIfj4IdH2W7+YCRWW0HnhobAG/DQi9WVvGx6RMFe0ef9CPLsExRbgP+DjAP+JqeDEWzgKBqxPuTzdK5oPeqa/4/+g/Q/uhWrjKG7VaqJO+19pbNAeRJ7jhTl7aQOcQaZG2iwJFONURVcNYoa0qE/63n9aBzBcb11CFv6D22H28XLEQOucNEL3Qx3KlqQX67iupFJZyIJJkGxBb4tcZVB/iIM9S26w9FIou0G9YvYVJoOWHIAqx2cDn65FytO5tE3Yrjzp5bSsph0qE5HH17hVhrWlwIWOdYPOAcg1OOCmOimCGs80FLoNdZ4hkdpZays6vB2W65d9d8BDNYsCdTdwolfb4tGC9Oc6VUwwmJXRgUYGqCGxGLiS/ZkTaBsY76pgZi0xS6bk2vqcrgnPCGxi7CNs=
  on:
    tags: true
    repo: XuluWarrior/jsonresume-theme-orbit-original

env:
  secure: iX+uiuzfxv5/wzg+AMtlsqEPXaTNzRVppQ3EN61XIHYctu5gnBjhZ8JQPf0K++5erYWwGqCTRjdxm/JQzO1XExLjrwsK0aEyYrUuWeuTjQQnjXI4qOEPQIzjHXfSCWfWl2KDXrMJfdKLpAcoxnUHToKwXNv15iKL77nMUR9OmokZXmGumtli5nRvHgp7no8vlGEWyPecczVQC/RvHbNuu1jBZEmkExsI7TLLdcGQivWjZURp9NW6RbQZVSddEf+d7o0ujochx9Sjp5Il4AAJCrYdroDb1URqzZ5+4WkvXJJBUNAq/lmeMc9In08l/ZpeUvsDGusm+GKs6vrCkh8lKidXX3HNMQbI/8NH7+Ha/h1KcS6Sr7Mz+hV5kV0WcYStIFzMD2nK4uNuM0me5Dn7GVLua27Cb1M3gk15nEY9SwsAsgSSdmKwyVSXLESC3x1sDI3zbR1pYqQbVEOcm30G09+7ZTCM256RSZzi7EXZWogRenwJWO7eYVsb+y448KgjNPY9IMgcL8NWeyPZd2nTPlQng54BWeseMU1rARjM6wunje+RDqbFtdSFHqQZR0b1v5M4Im9vJvmq6bI1hy5MGYCaaarUz7cO6cDfxa/WDRNKNhDIeYXKmdxLZVOLHiDLF4I8hpbaXyZrrQN8ZInetSJ64kZigLvXqmWP2HBjtQg=
